@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

#logo {
    max-width: 10%;
    max-height: 10%;
}

#logo:hover {
    background-color: rgb(144, 143, 143);
    border-radius: 5px;
}

#nomeLoja {
    display: inline;
    font-size: 175%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-top: 80px;
    color: white;
}

#nomeLoja:hover {
    color: rgb(167, 20, 20);
}

/* ADICIONAR ITENS */
#btnAdc {
    text-align: right;
}

.btn-success {
    font-size: 30px;
    width: 100px;
}

#titleAdicionar {
    text-align: center;
    border-bottom: solid black 3px;
}

#criarItens {
    margin-top: 1%;
}

/* LOJA */

.nav-link,
.navbar-brand {
    cursor: pointer;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

#navLoja {
    background-color: black;
    font-size: 20px;
    font-style: italic;
}

.grid {
    display: grid;
    border: 0 none;
}

.grid-template-columns {
    grid-template-columns: 600px 600px 600px;
}

.produtosVenda {
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 50px;
    border: 2px solid;
    border-radius: 30px;
    background-color: rgb(240, 240, 240);
}

.produtosVenda:hover {
    background-color: rgb(233, 233, 233);
    border: none;
}

#tabelaProdutos {
    justify-content: center;
}

.camisas {
    max-height: 400px;
    min-height: 400px;
    max-width: 400px;
    min-width: 400px;
    margin-top: 30px;
    margin-bottom: 15px;

}

/* SOBRE */

#container-leandro {
    height: 30vw;
    width: 100%;
    background-size: cover;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 100px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 66px 0;
}