body {
    padding: 0;
    margin: 0;
}

a {
    color: #000;
}

#logo {
    max-width: 5%;
    max-height: 5%;
}


/* ADICIONAR ITENS */
#btnAdc {
    text-align: right;
}

.btn-success {
    font-size: 30px;
    width: 100px;
}

#titleAdicionar {
    text-align: center;
    border-bottom: solid black 3px;
}

#criarItens {
    margin-top: 1%;
}

/* LOJA */

.nav-link,
.navbar-brand {
    cursor: pointer;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

#navLoja {
    background-color: black;
    font-size: 20px;
    font-style: italic;
}

.grid {
    display: grid;
    border: 0 none;

}

.grid-template-columns {
    grid-template-columns: 900px 900px;
}

.produtosVenda {
    text-align: center;
    margin-top: 50px;
}

#tabelaProdutos {
    justify-content: center;
}

img.camisas {
    cursor: pointer;
    max-height: 400px;
    max-height: 500px;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* SOBRE */

#container-leandro {
    height: 30vw;
    width: 100%;
    /* adicionando imagem de fundo */
    background: url('bg-img.jpg');
    background-size: cover;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 100px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 66px 0;
}